@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');

html {
    font-size: 62.5%;
}


/* 001 */

.body-A {
    background-image: linear-gradient(45deg, #75a6ea, #0000BB);
}

.square-A {
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to right, rgb(239, 99, 12), rgb(154, 80, 80));
}

/* 002 */

.title-B {
    font-family: "Playwrite MX", cursive;
}

/* 003 */

.h1-C {
    font-size: 2rem;
}

.p-C {
    font-size: 1rem;
}

/* 004 */

.squad-D {
    width: 300px;
    height: 300px;
    background-color: rgb(57, 174, 14);
    border: 4px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgb(50, 144, 16);
}

/* 005 */

.squad-E {
    width: 30rem;
    height: 30rem;
    background-color: rgb(193, 199, 10);
    border: 0.4rem solid rgb(0, 0, 0);
    border-radius: 2rem;
}

.squad-E:hover {
    width: 35rem;
    height: 35rem;
    background-color: rgb(199, 98, 10);
}

/* 006 */

.rect-06 {
    width: 40rem;
    padding: 1rem;
    background-color: #ef9904;
    border: 4px solid #000;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #ef9904;
    font-size: 4rem;
    text-align: center;
    transition: all 0.5s ease;
}

.rect-06:hover {
    background-color: #ff0000;
    color: #ffffff;
    padding: 2rem;
}

/* 007 */
@keyframes bounce {
    0% {
        margin-top: 0;
        background-color: #ef9904;
    }

    50% {
        margin-top: 3rem;
        background-color: #ff0000;
        color: #ffffff;
    }

    100% {
        margin-top: 0rem;
        background-color: #ef9904;
    }
}

.rect-07 {
    width: 40rem;
    padding: 1rem;
    background-color: #ef9904;
    border: 4px solid #000;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #ef9904;
    font-size: 4rem;
    text-align: center;
    transition: all 0.5s ease;
    animation-name: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.rect-07:hover {
    background-color: #ff0000;
    color: #ffffff;
    padding: 2rem;
}

/* 008 */

.area-08{
    display: flex;
    background-color: silver;
    flex-direction: row;
    /* justify e align um sempre alinha a horizontal e outro a vertical de acordo com flex direction */
    justify-content: space-between;
    align-items: center;
    /* obs: gap e diferente de margin, 
        margin afeta o item em si
        gap afeta area onde ficaram todos itens
    */
    gap: 10px;
}

.square-08{
    font-size: 4rem;
    background-color: orange;
}

.s8-1{
    width: 50px;
    height: 70px;
}

.s8-2{
    width: 100px;
    height: 150px;
}

.s8-3{
    width: 120px;
    height: 70px;
}

/* 009 */

.area-09{
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
}

.square-09{
    font-size: 6rem;
    background-color: orange;
}

.s9-1{
    width: 50px;
    height: 70px;
}

.s9-2{
    width: 100px;
    height: 150px;
}

.s9-3{
    width: 120px;
    height: 70px;
}

.s9-4{
    width: 120px;
    height: 70px;
}

.s9-5{
    width: 120px;
    height: 70px;
}

.s9-6{
    width: 120px;
    height: 70px;
}

.s9-7{
    width: 120px;
    height: 70px;
}

.s9-8{
    width: 120px;
    height: 70px;
}

.s9-9{
    width: 120px;
    height: 70px;
}

/* 010 */

.area-10{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.header-10,
.nav-10,
.main-10,
.aside-10,
.footer-10{
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    background-color: orange;
}

.header-10{
    grid-column: 1 / 4;
}

.nav-10{
    /* grid-column: 1 / 2; */
    grid-row: 2 / 4;
}

.footer-10{
    grid-column: 2 / 4;
    /* grid-row: 3 / 3; */
}

/* 011 */

.area-11{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.header-11,
.nav-11,
.main-11,
.aside-11,
.footer-11{
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    background-color: plum;
}

/* Media print utilizado para colocar regras no momento de imprimir */
@media print{
    .header-11{
        display: none;
    }
}

@media(width > 600px){
    .area-11{
        grid-template-columns: repeat(2, 1fr);
    }

    .header-11{
        grid-column: 1 / 3;
    }

    .aside-11{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .main-11{
        grid-column: 1 / 3;
    }

    .footer-11{
        grid-column: 1 / 3;
    }   
}

@media (width > 1000px){
    .area-11{
        grid-template-columns: repeat(4,1fr);   
        max-width: 1200px;
        margin: auto;
    }

    .header-11{
        grid-column: 1 / 5;
    }

    .nav-11{
        grid-column: 1 / 2;
    }

    .main-11{
        grid-row: 2 / 3;
        grid-column: 2 / 4;
    }

    .aside-11{
        grid-column: 4 / 5;
    }

    .footer-11{
        grid-column: 1 / 5;
    }
}

